body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 20px 12px 12px;
  padding: 10px;
  color: blueviolet;
  background-color: rgb(114, 190, 100);
  text-align: center;
}

.term {
  background-color: rgb(245, 245, 145);
}

#chapter-container {
  display: flex;
}

#chapter-container a {
  min-width: 100px;
  background-color: lightblue;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  min-height: 80vh;
}

#chapter-body {
  margin: 10px 30px;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
