<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <title>Go-Bible</title>
</head>

<body>
  <h1>The Static Bible Go App</h1>
  <form action="/" method="get">
    <label for="search">Search the Bible!</label>
    <input type="text" name="search" id="text">
    <button type="submit">Go</button>
  </form>
  {{if .Results}}
  <h2>{{.Reference.Book}} {{.Reference.Chapter}}</h2>
  {{ range .Results }}
  <p><span>{{ .Verse }}</span> {{ .Content.Text }}</p>
  {{ end }}
  {{else}}
  <p>No results for {{.Reference.Book}} {{.Reference.Chapter}}.</p>
  {{end}}
</body>

</html>