{{define "body"}}
{{if .Results}}
<div id="chapter-container">
  <a href="#previous" id="previous">
    <div class="full-button">
      <p>Previous</p>
    </div>
  </a>
  <div id="chapter-body">
    <h2>{{.Reference.Book}} {{.Reference.Chapter}}</h2>
    {{ range .Results }}
    <p data-verse="{{.Verse}}"><span>{{ .Verse }}</span> {{ .Content.Text }}</p>

    {{ end }}
  </div>
  <a href="#next" id="next">
    <div class="full-button">
      <p>Next</p>
    </div>
  </a>
</div>
{{else}}
<p>No results for {{.Reference.Book}} {{.Reference.Chapter}}.</p>
{{end}}
{{end}}

{{define "scripts"}}
<script src="/static/scripts/chapterSearch.js"></script>
<script src="/static/scripts/chapter.js"></script>
<script src="/static/scripts/search.js"></script>
{{end}}