<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <title>Go-Bible</title>
</head>

<body>
  <h1>The Static Bible Go App</h1>
  <form action="/" method="get">
    <label for="search">Search the Bible!</label>
    <input type="text" name="search" id="search">
    <button type="submit">Search</button>
  </form>
  <form id="chapterForm" method="get">
    <label for="book">Go to chapter</label>
    <select name="book" id="bookSelect">

    </select>
    <select name="chapter" id="chapterSelect">
    </select>
    <button type="submit">Go</button>
  </form>
  {{if .Results}}
  <h3>Search Terms:</h3>
  <ul>
    {{range .Terms}}
    <li>{{.}}</li>
    {{end}}
  </ul>
  {{if .Results}}
  <h3 id="results" data-count="{{.Count}}">Results</h3>
  {{end}}
  <ol>
    {{ range .Results }}
    <li><a class="reference" href="/{{.Book}}/{{.Chapter}}?ref={{.Verse}}">{{ .Book }} {{ .Chapter }}:{{ .Verse }}</a>
    </li>
    <p>{{ .VerseHtml }}</p>
    {{ end }}
  </ol>
  <a id="prev-results" href="#">View previous 50 results</a>
  <a id="next-results" href="#">View next 50 results</a>
  {{else}}
  <p>No results. Search again.</p>
  {{end}}
</body>

<script src="/static/scripts/chapterSearch.js"></script>
<script src="/static/scripts/search.js"></script>

</html>